<section class="cart">
    <h2>Your Cart ({{totalItems}})</h2>
    <div class="content">
        @for(item of cartItems; track item.name) {
        <div class="cart-item">
            <div class="item-details">
                <div class="dessert-name">{{item.name}}</div>
                <div class="price-info">
                    <div class="quantity">{{item.quantity}}<span>x</span></div>
                    <div class="price">&#64; {{item.price | currency:'USD':'symbol':'1.2-2'}}</div>
                    <div class="item-amount">{{item.price * item.quantity | currency:'USD':'symbol':'1.2-2'}}</div>
                </div>
            </div>

            <button class="delete-item">
                <img src="images/icon-remove-item.svg" alt="delete item icon" (click)="onDeleteItem(item.name)">
            </button>
        </div>

        }
        @empty {

        <div class="empty-cart-content">
            <img src="images/illustration-empty-cart.svg" alt="empty cart svg">
            <p class="empty-cart-description">
                Your added items will appear here
            </p>
        </div>
        }

        @if(cartItems.length !== 0){
        <div class="total-price">
            <div>Order Total</div>
            <div class="total-price-value">{{totalPrice | currency:'USD':'symbol':'1.2-2'}}</div>
        </div>

        <div class="carbon-neutral">
            <img src="images/icon-carbon-neutral.svg" />
            <div>This is a <strong>carbon-neutral</strong> delivery</div>
        </div>

        <button class="confirm-order" (click)="onConfirmOrder()">Confirm Order</button>
        }
    </div>


</section>