<div class="dessert-item">
    <section class="item-image-add-to-cart" [ngClass]="onImageBorder()">

        @if(mobileView){
        <img [src]="dessert.image.mobile" alt="dessert image">
        }
        @else if(tabletView){
        <img [src]="dessert.image.tablet" alt="dessert image">
        }
        @else {
        <img [src]="dessert.image.desktop" alt="dessert image">
        }
        <app-add-to-cart [dessertItem]="dessert" (addCardItem)="onAddCardItem($event)"
            (isAddToCartActive)="setImageBorder($event)" />
    </section>
    <section class="item-info">
        <p class="category">{{dessert.category}}</p>
        <p class="name">{{dessert.name}}</p>
        <p class="price">{{dessert.price}}</p>
    </section>
</div>