@use "mixins" as *;
@use "variables" as *;

:host {
  width: 100%;
}

main {
  @include flex(row, flex-start, stretch, 2rem);
  width: min(1316px, 90%);
  margin: auto;
  padding: 1rem 0;
  // flex-wrap: wrap;

  @include breakpoint(768px) {
    width: 100%;
    padding: 0 16px;
    @include flex(column, flex-start, stretch, 2rem);
  }
  @include breakpoint(480px) {
    width: 100%;
  }
}

.desserts {
  @include flex(column, flex-start, stretch, 2rem);
  width: 100%;
  height: 100%;

  h1 {
    @include TextPreset1;
    color: $rose-900;
  }
}

.desserts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  @include breakpoint(480px) {
    grid-template-columns: 1fr;
  }
}

// .add-to-cart-container button {
//   @include flex(row, flex-start, stretch, 0.5rem);
//   padding: 0.5rem 1rem;
//   border: 1px solid $rose-400;
//   background-color: $white;
//   border-radius: 50px;
//   width: fit-content;
//   margin: -1.2rem auto;
//   cursor: pointer;

//   &:hover {
//     color: $red;
//     border-color: $red;
//     transition: all 300ms ease-in-out;
//   }

//   p {
//     @include TextPreset4Bold;
//   }
// }
